.workout {

}

.hide {
  display: none !important;
}

/* Adapted from https://bootsnipp.com/snippets/z8699 START */
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
/* Adapted from https://bootsnipp.com/snippets/z8699 END */
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.link-block {
  display: block;
}


/*
Search-bar
 */

.search-bar-container {
  display: flex;
}

.search-bar {
  margin: 40px auto 40px auto;
  border: solid 3px lightgray;
  border-radius: 6px;
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 17px;
}

#btn-search-button {
  vertical-align: center;
  height: 35px;
  padding-bottom: 30px;
  background: whitesmoke;
  color: #224481;
}

/*
Exercise-single
 */

.delete-exercise-button {
  display: flex;
  margin-left: auto;
  color: #e04545;
  width: 43px;
  border: solid 2px white;
  border-radius: 10px;
}

.delete-exercise-button:hover {
  color: #e04545;
  border-color: #e04545;
}

.delete-exercise-button i {
  font-size: 22px;
  z-index: -100;
}

.div-exercise-container {
  margin-bottom: 50px !important;
}

#btn-add-exercise {
  margin-bottom: 75px !important;
}

